
body{background-image: Portfolio arrière plan.jpg;
     background-color: #74C1E2;}
html{color: white;
font-family: URW Gothic L, verdana, sans serif;}
h1{font-family: Jazz LET, fantasy;
  font-weight: 100;
  padding:0.5em}
body{padding:0.5em}
div{align: center;
   border: 0.5em solid white;
   padding: 1em;}
